.waf-action-whitelist-header {
  min-width: 177px;
}

.waf-custom-service-instance {
  margin-left: 5px;
  text-decoration: underline !important;
}

.waf-custom-service-instance-input {
  height: 40px;
  min-width: 250px;
}

.waf-learning-on {
  color: lawngreen;
}

.waf-learning-off {
  color: red;
}

.waf-new-configuration-select {
  min-width: 250px;
}

.waf-reload-section {
  height: 38px;
}

.waf-reload-btn {
  min-width: 200px;
}

.waf-service-instance-list {
  margin-bottom: 5px;
}

.waf-service-instance-menu {
  height: 59px;
  overflow: hidden;
}

.waf-toggle-btn {
  min-width: 50px;
}

.waf-whitelist-candidate-btn {
  min-width: 90px;
}

.waf-whitelist-final-btn {
  min-width: 60px;
}
