<nb-card>
  <nb-card-header>Web Application Firewall Summary</nb-card-header>
  <nb-card-body>
    <div class="row">
      <nb-select class="waf-new-configuration-select"
                 *ngIf="!customServiceInstanceMode"
                 [disabled]="status.inProgress.loadServiceInstances || !serviceInstancesWithoutWaf || serviceInstancesWithoutWaf.length === 0"
                 [(ngModel)]="selectedServiceInstance">
        <nb-option *ngFor="let serviceInstance of serviceInstancesWithoutWaf" [value]="serviceInstance">
          {{serviceInstance.name}}
        </nb-option>
      </nb-select>

      <input nbInput
             name="custom-service-instance-name"
             class="waf-custom-service-instance-input"
             type="text"
             placeholder="Service Instance Name"
             *ngIf="customServiceInstanceMode"
             [disabled]="status.inProgress.loadServiceInstances"
             [(ngModel)]="selectedServiceInstance.name"
      >
      &nbsp;&nbsp;
      <button nbButton
              title="Create new WAF configuration"
              [disabled]="!selectedServiceInstance || status.inProgress.loadServiceInstances || !selectedServiceInstance.name"
              (click)="createWafConfiguration()">
        <i class="fa fa-plus"></i><span> Add Configuration</span>
      </button>
    </div>


    <div class="row">
      <a class="waf-custom-service-instance"
         href="javascript:void(0);"
         *ngIf="customServiceInstanceMode"
         (click)="disableCustomServiceInstanceMode()">Let me choose a service instance from a list</a>
      <a class="waf-custom-service-instance"
         href="javascript:void(0);"
         *ngIf="!customServiceInstanceMode"
         (click)="enableCustomServiceInstanceMode()">I want to provide service name</a>
    </div>

    <br/>

    <div class="row">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th class="col-6">Name</th>
          <th class="action-col">Learning Mode</th>
          <th class="action-col waf-action-whitelist-header" style="">Whitelist</th>
          <th class="action-col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let serviceInstanceWithWaf of serviceInstancesWithWaf">
          <td>{{serviceInstanceWithWaf.name}}</td>
          <td>
            <i class="fa fa-circle fa-lg"
               [ngClass]="{
               'waf-learning-on': learningModeStatus(serviceInstanceWithWaf),
               'waf-learning-off': !learningModeStatus(serviceInstanceWithWaf)
               }">&nbsp;</i>
            <button nbButton
                    title="Toggle Learning Mode"
                    size="tiny"
                    status="primary"
                    [disabled]="status.inProgress[serviceInstanceWithWaf.id + '-learning-mode'] || status.inProgress.loadServiceInstances"
                    (click)="toggleLearningMode(serviceInstanceWithWaf)">Toggle
            </button>
          </td>
          <td>
            <button nbButton
                    title="Manage Whitelist"
                    size="tiny"
                    [disabled]="status.inProgress.loadServiceInstances"
                    (click)="manageWafWhitelistFinal(serviceInstanceWithWaf)">
              <i class="fa fa-list"></i>
              <span>&nbsp;Applied</span>
            </button>
            &nbsp;
            <button nbButton
                    title="Manage Whitelist"
                    size="tiny"
                    [disabled]="status.inProgress.loadServiceInstances"
                    (click)="manageWafWhitelistCandidate(serviceInstanceWithWaf)">
              <i class="fa fa-list"></i>
              <span>&nbsp;Candidates</span>
            </button>
          </td>
          <td>
            <button nbButton
                    size="tiny"
                    status="warning"
                    title="Edit WAF Configuration"
                    [disabled]="status.inProgress.loadServiceInstances"
                    (click)="editWafConfiguration(serviceInstanceWithWaf)">Edit
            </button>
            &nbsp;
            <button nbButton
                    size="tiny"
                    status="danger"
                    title="Delete WAF configuration"
                    [disabled]="
                    status.inProgress[serviceInstanceWithWaf.id + '-delete'] ||
                    status.wafConfigurationDelScheduled[serviceInstanceWithWaf.id + '-delete'] ||
                    status.inProgress.loadServiceInstances"
                    (click)="maybeDeleteWafConfiguration(serviceInstanceWithWaf)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </nb-card-body>
</nb-card>
