<nb-card>
  <nb-card-header>Edit WAF Configuration of {{serviceInstance.name}}</nb-card-header>
  <nb-card-body>
    <form #wafHtmlForm class="form-horizontal" id="myForm" #wafNgForm="ngForm" novalidate>
      <div class="row">
        <label class="col-2">Check Rule</label>
        <nb-select name="wafCheckRuleTemplate"
                   class="col-4"
                   [(ngModel)]="selectedWafCheckRuleTemplate"
                   [disabled]="status.inProgress.ruleTemplate"
        >
          <nb-option *ngFor="let wafCheckRuleTemplate of wafCheckRuleTemplates"
                  [value]="wafCheckRuleTemplate">
            {{wafCheckRuleTemplate.name}}
          </nb-option>
        </nb-select>
      </div>
      &nbsp;
      <div class="row">
        <label class="col-2">Rule Set</label>
        <nb-select name="wafRuleTemplate"
                   class="col-4"
                   [(ngModel)]="selectedWafRuleTemplate"
                   [disabled]="status.inProgress.checkRuleTemplate"
        >
          <nb-option *ngFor="let wafRuleTemplate of wafRuleTemplates"
                     [value]="wafRuleTemplate">
            {{wafRuleTemplate.name}}
          </nb-option>
        </nb-select>
      </div>
      &nbsp;
      <div class="row">
        <label class="col-2">Learning Mode</label>
        <nb-select name="learningMode"
                   class="col-4"
                   [(selected)]="learningMode"
                   [disabled]="status.inProgress.loadConfig">
          <nb-option [value]="true">Enabled</nb-option>
          <nb-option [value]="false">Disabled</nb-option>
        </nb-select>
      </div>
      &nbsp;
      <div class="row">
        <label class="col-2">Container Name</label>
        <input name="containerName" nbInput class="col-4" [(ngModel)]="containerName">
      </div>
      &nbsp;
      <div class="row">
        <label class="col-2">Container Port</label>
        <input name="containerPort" nbInput
               class="col-4"
               type="number"
               placeholder="31850"
               min="0"
               max="65535"
               [(ngModel)]="containerPort">
      </div>
      &nbsp;
      <div class="row">
        <label class="col-2">Mount Point</label>
        <input name="mountPoint" nbInput
               class="col-4"
               type="text"
               placeholder="/my-app/api"
               [(ngModel)]="mountPoint">
      </div>
      &nbsp;
      <div class="row">
        <label class="col-2">Proxy Pass</label>
        <input name="proxyPass" nbInput
               class="col-4"
               type="text"
               placeholder="http://myservice"
               [(ngModel)]="proxyPass">
      </div>
    </form>
  </nb-card-body>

  <nb-card-footer>
    <button nbButton
            [disabled]="wafNgForm.invalid || status.inProgress.saveConfig"
            (click)="saveWafConfiguration()">Save
    </button>
    &nbsp;
    <button nbButton status="danger" (click)="goToWafConfigurations()">
      <span>WAF Configurations</span>
    </button>
  </nb-card-footer>
</nb-card>
