.waf-whitelist-candidate-low-row {
  margin-bottom: 2px !important;
}

.waf-whitelist-candidate-action-buttons {
  padding-top: 10px;
}

.waf-whitelist-candidate-uri-select {
  content: '';
  min-width: 250px;
}

.waf-whitelist-candidate-version-select {
  min-width: 250px;
}
